$ease-out: all .3s cubic-bezier(0.23, 1, 0.32, 1);
$on-hold: #FB7D44;
$in-progress: #2A92BF;
$needs-review: #F4CE46;
$approved: #00B961;

.drag-and-drop {
    display: grid;
    grid-template-columns: fit-content(700px) fit-content(200px);
    grid-template-rows: fit-content(200px);

    .drag-container {
        overflow-y: scroll;
        min-width: 300px;
        max-height: 500px;
        #code-snippets {
            div {
                padding: 5px 10px 5px 10px;
                max-height: 50px;
                display: table;
                margin: 5px 5px 5px 5px;
            }
            div::before{
                content : attr(data-value);
                vertical-align: middle;
            }
        }
    }
    #console {
        min-height: 400px;
        max-width: 700px;
        min-width: 400px;
        display: table;
        div {
            padding: 5px 10px 5px 10px;
            max-height: 50px;
            display: table;
            margin: 5px 5px 5px 5px;
        }
        div::before{
            content : attr(data-value);
            vertical-align: middle;
        }
    }
    .drag-item {
        margin: 10px;
        min-height: 50px;
        background: rgba(black, 0.4);
        transition: $ease-out;

        &.is-moving {
            transform: scale(1.5);
            background: rgba(black, 0.8);
        }

    }


    /* Dragula CSS  */

    .gu-mirror {
        position: fixed !important;
        margin: 0 !important;
        z-index: 9999 !important;
        opacity: 0.8;
        list-style-type: none;
    }

    .gu-hide {
        display: none !important;
    }

    .gu-unselectable {
        -webkit-user-select: none !important;
        -moz-user-select: none !important;
        -ms-user-select: none !important;
        user-select: none !important;
    }

    .gu-transit {
        opacity: 0.2;
    }
}


