@import url('https://fonts.googleapis.com/css?family=Amarante');


/** page structure **/
#table-wrapper {
    overflow-y: scroll;
    display: block;
    width: 850px;
    background: #fff;
    margin: 0 auto;
    padding: 10px 17px;
    -webkit-box-shadow: 2px 2px 3px -1px rgba(0,0,0,0.35);
    br { display: block; line-height: 1.6em; }

    article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
    ol, ul { list-style: none; }

    input, textarea {
        -webkit-font-smoothing: antialiased;
        -webkit-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        outline: none;
    }

    blockquote, q { quotes: none; }
    blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
    strong, b { font-weight: bold; }

    table { border-collapse: collapse; border-spacing: 0; }
    img { border: 0; max-width: 100%; }

    h1 {
        font-family: 'Amarante', Tahoma, sans-serif;
        font-weight: bold;
        font-size: 3.6em;
        line-height: 1.7em;
        margin-bottom: 10px;
        text-align: center;
    }
    #keywords {
        margin: 0 auto;
        font-size: 1.2em;
        margin-bottom: 15px;
    }
    #keywords thead {
        cursor: pointer;
        background: #c9dff0;
    }
    #keywords thead tr th {
        font-weight: bold;
        padding: 12px 30px;
        padding-left: 42px;
        border-right: solid 1px #00000026;
    }
    #keywords thead tr th span {
        padding-right: 20px;
        background-repeat: no-repeat;
        background-position: 100% 100%;
    }

    #keywords tbody tr {
        color: #555;
    }
    #keywords tbody tr td {
        text-align: center;
        padding: 15px 10px;
        border-right: solid 1px #00000026;
    }
    #keywords tbody tr td.lalign {
        text-align: left;
    }
    .user-table tr:nth-child(odd) {
        background-color: rgba(22, 43, 68, 0.2);
    }
    .user-table tr:nth-child(even) {
        background-color: rgba(222, 208, 237, 0.02);
    }
    .edit {
        color: rgb(70, 182, 107);
        cursor: pointer;
    }
    .delete {
        color: rgb(218, 69, 69);
        cursor: pointer;
    }
    #user-table-top {
        background-color: rgba(22, 43, 68, 0.4);
    }
}


